@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Outfit'
}

.currentTemp {
  font-size: 3rem;
}

.highAndLow {
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-end;
  font-size: .3em;
  padding-bottom: 0.5em;
}

.location, .description, .feels, .humidity, .wind {
  font-size: 1rem;
}

.location{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  height: 40px;
}

.desc-div {
  display: flex;
}

.icon {
  display: flex;
  align-items: center;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: whitesmoke;
}

.app:before{
  content: '';
  background: url('./assets/weather_background.png') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app .search {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  padding: 1.5rem;
}

.app button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
  margin-left: .5rem;
  border-radius: 25px;
  border: 1px solid rgb(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.2);
}

.app button svg {
  display: inline-flex;
  justify-content: center;
  color: whitesmoke;
}

.app input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgb(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.2);
  color: whitesmoke;
}

::placeholder {
  color: whitesmoke;
}

.container {
  max-width: 100%;
  height: 650px;
  margin: auto;
  padding: 0 1rem;
  top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: auto;
}

.container .card {
  background: #000000a8;
  color: white;
  padding: 1.2em;
  border-radius: 30px;
  width: 300px;
  height: 300px;
  max-width: 420px;
  margin: 0em;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}